data/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env
.mlflow/
mlruns/
mlartifacts/
*.pkl
*.joblib
.ipynb_checkpoints/
.vscode/
.idea/
*.log
mlflow.db
notebooks/mlflow.db
Dockerfile.dockerignore
